.popup__content_type_img {
  width: unset;
  min-width: 330px;
  min-height: 330px;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: unset;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
}

.popup__img_type_img {
  width: unset;
  min-width: 330px;
  min-height: 330px;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: unset;
  padding: 0;
  object-fit: contain;
}